/* latin */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fuentes/figtree/figtree-latin-400-normal.woff2') format('woff2'),
       url('/fuentes/figtree/figtree-latin-400-normal.woff') format('woff');
}

/* latin-ext */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fuentes/figtree/figtree-latin-ext-400-normal.woff2') format('woff2'),
       url('/fuentes/figtree/figtree-latin-ext-400-normal.woff') format('woff');
}

/* latin */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fuentes/figtree/figtree-latin-500-normal.woff2') format('woff2'),
       url('/fuentes/figtree/figtree-latin-500-normal.woff') format('woff');
}

/* latin-ext */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fuentes/figtree/figtree-latin-ext-500-normal.woff2') format('woff2'),
       url('/fuentes/figtree/figtree-latin-ext-500-normal.woff') format('woff');
}

/* latin */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fuentes/figtree/figtree-latin-600-normal.woff2') format('woff2'),
       url('/fuentes/figtree/figtree-latin-600-normal.woff') format('woff');
}

/* latin-ext */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fuentes/figtree/figtree-latin-ext-600-normal.woff2') format('woff2'),
       url('/fuentes/figtree/figtree-latin-ext-600-normal.woff') format('woff');
}